# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test tiles for map
/src/components/Map/font/*
/src/components/Map/tiles/*
/src/components/Map/debug-tiles/*
/src/components/Map/tile_cache/*